{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1 class="text-center" >Bienvenu {{ app.user.getLogin }}!</h1>
    <p class="w-50 p-3, mx-auto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem quae suscipit velit recusandae facere consequuntur aliquid fugiat vero cum? Provident nemo ex mollitia, ut fuga fugiat nulla illum veritatis laborum.
    Natus ut error similique eveniet optio, delectus blanditiis nobis earum autem officiis rerum veniam quia minima amet necessitatibus rem sint exercitationem ea voluptas expedita iste! Ipsum rem asperiores deserunt eum!</p>
    <p class="w-50 p-3, mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eaque ea autem eveniet qui fugit id illum, iusto blanditiis asperiores odio unde, sunt vero est pariatur illo tempora dolore necessitatibus?
    Ab fugit aut odit libero dolores quasi earum excepturi voluptatum odio, iste qui inventore iusto fuga amet sit deserunt? Vero ad porro nulla aut distinctio dicta nostrum ullam commodi sit!
    Harum provident voluptatum ratione velit incidunt aliquam magni? Molestiae obcaecati, deserunt aliquid possimus assumenda ducimus minima voluptatibus cupiditate, cum facere ipsam ex. Ad atque, nihil similique ipsum rerum necessitatibus ducimus.
    Et beatae nulla accusantium ullam accusamus omnis dolorum! Esse sapiente iste, suscipit nostrum facere, aspernatur itaque dolorum at beatae, eligendi voluptatum ratione reprehenderit inventore? Quis, ea incidunt. Optio, quam explicabo!
    Eligendi quo hic iste alias neque possimus optio, suscipit molestiae voluptatum fugit doloribus aut esse rem dignissimos dolor officiis culpa voluptate, ipsam repellat, itaque excepturi laboriosam. Blanditiis maxime laudantium perferendis.</p>
</div>
{% endblock %}
